header 
  .container
    a(href="index.html").logo 
      img(src="img/logo.svg", alt="")
    
    .burger
      .burger-line
    
    .navbar-wrapper
      .navbar
        .burger-close

        .languages__mob 
          div
            img(src="img/russia.svg", alt="")
          div
            img(src="img/uk.svg", alt="")
        
        ul
          li 
            a(href="index.html") Шланговые системы «PROMLINE»
          li.has-child
            a(href="/#solution-1") Решение задач
            ul
              li
                a(href="javascript:void(0)").not-hover.blue-text  Шланги для воды и абразива:
              li
                a(href="/#solution-1")  Горнодобывающая отрасль
              li
                a(href="javascript:void(0)").not-hover.yellow-text  Жилищно-коммунальное хозяйство
              li
                a(href="/#solution-1")  Строительная отрасль
              li
                a(href="/#solution-1")  Ликвидация ЧС
              li
                a(href="javascript:void(0)").not-hover.red-text  Шланги для нефти и газа:
              li
                a(href="/#solution-1")  Добыча нефти и газа
              li
                a(href="/#solution-1")  Судоходная отрасль
              li
                a(href="javascript:void(0)").not-hover.green-text  Шланги для сельского хозяйства:
              li
                a(href="/#solution-1")  Сельскохозяйственная отрасль
          li.has-child
            a(href="products.html") Каталог
            ul 
              li.has-child
                a(href="javascript:void(0)") Шланги
                ul
                  li
                    a(href="javascript:void(0)") Напорные TPU
              li.has-child
                a(href="javascript:void(0)") Соединения
                ul
                  li
                    a(href="javascript:void(0)") Быстроразъемные
                  li
                    a(href="javascript:void(0)") Ремонтные
                  li
                    a(href="javascript:void(0)") Хомуты
              li.has-child
                a(href="javascript:void(0)") Намоточное оборудование
                ul
                  li
                    a(href="javascript:void(0)") УН 89-300
                  li
                    a(href="javascript:void(0)") УН 50-400
          li 
            a(href="contacts.html") Контакты
            
        
        .contacts-mob
          div.tel-soc
            a(href="javascript:void(0)").number #[span 8 (800)] 55-180-22

            .social-list
              a(href="javascript:void(0)").social-list__item
                img(src="img/tlgrm.svg", alt="")
              a(href="javascript:void(0)").social-list__item
                img(src="img/whtsp.svg", alt="")
              a(href="javascript:void(0)").social-list__item
                img(src="img/vbr.svg", alt="")
          

    .contacts
      div.tel-soc
        a(href="javascript:void(0)").number #[span 8 (800)] 55-180-22

        .social-list
          a(href="javascript:void(0)").social-list__item
            img(src="img/tlgrm.svg", alt="")
          a(href="javascript:void(0)").social-list__item
            img(src="img/whtsp.svg", alt="")
          a(href="javascript:void(0)").social-list__item
            img(src="img/vbr.svg", alt="")

      .languages 
        div
          img(src="img/russia.svg", alt="")
        div
          img(src="img/uk.svg", alt="")
