mixin hsl-item(title, desc)
  .hose-sys__list-item
    .hose-sys__item-title!=title
    .hose-sys__item-desc!=desc

section.hose-sys
  .pattern 
    img(src="img/pattern.svg", alt="")
  .container
    h2 Шланговые системы promline
    h2.mob Материалы
    .desc Продукт мирового уровня, изготовленный из композитных материалов, основой которого являются шланги из высокопрочного и износостойкого термополиуретана (TPU), а также соединений, оборудования для хранения и намотки созданного для успеха заказчика.

  include hose-block

  .container
    .desc Толщина стенок наших шлангов на 30% больше, чем у аналогов. Это достигается за счет использования большего количества 100% полиуретана. Благодаря этому наши шланги могу похвастаться повышенным сроком эксплуатации.
    .yellow-block ГАРАНТИРУЕМ КАЧЕСТВО

