<section class="materials__promo__section">
  <div class="container">
    <h2 class="section__heading">Материалы</h2>
  </div>
  <div class="container materials-promo__container">
    <div class="materials-promo__inner">
      <div class="materials-promo-text__item __promo-text__item1">
        <div class="materials-promo-text__item__inner">
          <span>Карас из полиэфирных нитей</span>
          <p>Расположен ровно между слоями, обеспечивая возможность эксплуатации при высоких давлениях (до 84 BAR)</p>
          <div class="prompt-line__wrapper prompt-line__wrapper1">
              <div class="prompt-line"></div>
          </div>
        </div>
      </div>
      <div class="materials-promo-text__item __promo-text__item2">
        <div class="materials-promo-text__item__inner">
          <span>Внутренняя оболочка из 100% полиуретана (TPU)</span>
          <p>Позволяет транспортировать в том числе агрессивные среды (шлак, пульпа, шлам)</p>
          <div class="prompt-line__wrapper prompt-line__wrapper2">
              <div class="prompt-line"></div>
          </div>
        </div>
      </div>
      <div class="materials-promo-text__item __promo-text__item3">
        <div class="materials-promo-text__item__inner">
          <span>Внешняя оболочка из 100% полиуретана (TPU)</span>
          <p>Защищает от внешних воздействий, что позволяет эксплуатировать шланг в суровых условиях (перетаскивание, волочение, механическое воздействие)</p>
          <div class="prompt-line__wrapper prompt-line__wrapper3">
              <div class="prompt-line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container container__large">
    <img src="http://new.promline.beget.tech/wp-content/themes/promline/assets/img/cable.png" alt="" class="cable-img">
    <img src="http://new.promline.beget.tech/wp-content/themes/promline/assets/img/cable.png" alt="" class="cable-img-mobile">
  </div>
</section>
