.modal-form
  
  .form-container
    .form-container__title Оставить заявку

    .form-container__done
      p Наши менеджеры уже получили вашу заявку и обрабатывают её. Вскоре они свяжутся с вами. А пока вы можете посмотреть другие страницы нашего сайта
      a(href="index.html").yellow-btn На главную


    form#modal-form__from
      .input-div
        .alert-message Заполните это поле!
        input(type="text" name="name" placeholder="Введите имя")
      .input-div
        .alert-message Заполните это поле!
        input(type="text" name="name" placeholder="+7 (___)-___-__-__")#modal-form__phone

      button.yellow-btn Отправить
