section.before-after 
  .container 
    .before
      .before-after-title #[span До] прохождения курса
      img(src="img/ivan-4.png", alt="")
    .after
      .before-after-title  #[span После] #[br] прохождения курса
      img(src="img/ivan-4.2.png", alt="")
      .after-list
        .after-list-item.bold-light Я знаю, #[br] #[span как открыть свой бизнес]
        .after-list-item.bold-light Я знаю, #[br] #[span как действовать]
        .after-list-item.bold-light Я не боюсь #[br] #[span ошибиться, #[br] но буду делать это меньше]
        .after-list-item.bold-light Я знаю, #[br] #[span чем хочу заниматься]

