footer
  .container 
    .soc-list
      a(href="#").soc-list-item
        img(src="img/inst.png", alt="")
      a(href="#").soc-list-item
        img(src="img/tlgrm.png", alt="")
      a(href="#").soc-list-item
        img(src="img/whtsp.png", alt="")
    
    a(href="tel:+79000000000").number +7 (900) 000-00-00

    .text
      p ИП Бакуров Иван Анатольевич
      p г. Санкт-Петербург ОРГНИП 0000000000
