section.hero
  .container
    .hero-left
      .author-burger
        .author-curse.bold-light АВТОРСКИЙ КУРС #[span ИВАНА БАКУРОВА]
        .burger#burger 
          .burger-line
      h1.how-start.bold-light Как запустить #[br] свой бизнес #[br.mob] с #[.zero 0] #[span за 30 дней]
      .desc.bold-light
        p #[span Наша команда]
        p Иван Бакуров #[span – серийный предпринематель]
        p Илья Кусак #[span – бизнес инженер по строительству компаний]
      .btn-oferta
        a(href="#").btn-reg ЗАРЕГИСТРИРОВАТЬСЯ 
        .oferta Публичная оферта

    .hero-right
      .mans
        img(src="img/mans.png", alt="").mans-img
        .lives
          img(src="img/ivan.png", alt="").live
          img(src="img/ilya.png", alt="").live
        .names
          .name.bold-light Иван Бакуров #[span основатель Ivan’s Media Production]
          .name.bold-light Илья Кусакин #[span бизнес-архитектор]
