section.live-course 
  .container
    .live-course-title ЖИВОЙ КУРС #[span ИВАНА БАКУРОВА]
    .how-start-business.bold-light 
      .text Как запустить свой бизнес #[br] с #[.zero 0] #[br] #[span за 30 дней]
      .business-list
        .business-list-item Живое общение с учениками
        .business-list-item Мощная энергетика
        .business-list-item Розыгрыш дополнительных призов
        .business-list-item Разборы и ответы на вопросы в прямом эфире
