section.our-team 
  .container
    .teachers
      .our-team С нами в команде
      .teachers-list
        .teachers-list-item
          img(src="img/teacher-ivan.png", alt="")
          .info 
            .name Иван #[br] Бакуров 
            .prof Основатель #[br] Ivans Media, #[br] ComfortBaby, #[br] LikeLine
        .teachers-list-item
          img(src="img/teacher-ilya.png", alt="")
          .info 
            .name Илья #[br] Кусакин 
            .prof бизнес-архитектор, опытный наставник более 10,000 предпринимателей
