section.present 
  .container 
    .money.bold-light 10.000#[span &#36;] #[.other + 100 #[span других #[br] подарков]]
    .present-list 
      .present-list-item 
        h3 Главный приз
        div
          p.bold-light начальный капитал #[span в размере 10.000$ наличными, #[br] а также еще 100 призов]
          img(src="img/apple.png", alt="")
      .present-list-item 
        h3 Пригласительный #[br] билет 
        p.bold-light #[span Новогодний корпаратив в Москве] #[del (5000 рублей)] #[span Развлекательная программа, фуршет, выступления ведущих предпринимателей]
      .present-list-item 
        h3 10 студентам 
        p.bold-light 10 мест в команде #[span моего нового проекта]
 

