section.process 
  .container 
    .process-title Трансформация человека #[br] от наемного сотрудника до предпринимателя 
    img(src="img/process.png", alt="")
    img(src="img/process-mob.png", alt="").mob
