section.program 
  .container 
    .program-title ПРОГРАММА КУРСА
    .program-list
      .program-list-item 
        p #[span Психологическая подготовка] Страхи, риски, личный пример
      .program-list-item 
        p #[span Первые шаги. Выбор ниши,] тестирование бизнес идеи
      .program-list-item 
        p #[span Бизнес план] и финансовое планирование
      .program-list-item 
        p #[span Подбор команды] и найм персонала
      .program-list-item 
        p #[span Управление #[br] и оценка рисков]
      .program-list-item 
        p #[span Посторонние отдела продаж] система учета
      .program-list-item 
        p #[span Маркетинг и упаковка] (личный бренд)
      .program-list-item 
        p #[span Бизнес видение.] Стратегия развития. Масштабирование.
      .program-list-item 
        p #[span Налоговое планирование] (Выступление эксперта)
      .program-list-item 
        p #[span Успешная финансовая модель.] Инструменты для фин анализа и учета. Расчёт прибыли и убытков
      .program-list-item 
        p #[span Привлечение инвестиций]
      .program-list-item 
        p #[span Подведение итогов. #[br] Розыгрыш]
