section.benefit-installments#benefit-installments
  img(src="img/bi.jpg", alt="").benefit-installments__img

  .container 
    .wrapper 
      h2 Чем выгодна рассрочка?

      p.benefit-installments__desc Все просто. Приобретая магазин в рассрочку, вы сокращаете финансовую нагрузку на бюджет, тем самым освобождаете денежные средства, которые можно направить на развитие бизнеса

      a(href="#").btn-orange.fill Взять магазин в рассрочку
