section.capability#capability
  .container
    h2 возможности вашего #[br] интернет-магазина

    ul.capability__list
      li.capability__list-item Интеграция  с маркетплейсами #[br] Яндекс маркет, Ozon. WILDBERRIES и т. д.
      li.capability__list-item Выгрузка товаров в соц. сети #[br] Одноклассники, Вконтакте, Instagram, Facebook
      li.capability__list-item Интеграция скалдских систем #[br] 1с, Мой склад, ЕКАМ
      li.capability__list-item Интеграция  логистических компаний #[br] СДЭК, Почта России, Boxberry и т. д.
      li.capability__list-item Интеграция онлайн оплаты #[br] Юмани, Сбер банк, Робокасса и т. д.
      li.capability__list-item Интеграция мессенджеров #[br] Whatsapp, Telegram, Вконтакте и т. д.
      li.capability__list-item Рекламные сервисы #[br] (Seopult, Sape, eBay, Яндекс.Директ)
      li.capability__list-item Маркетинговые инструменты #[br] (Mailchimp, UniSender, ByteHand, Roistat, VK.com, Giftd)
