section.cases#cases
  .container 
    h2 Кейсы

    .cases__tabs
      .cases__tabs-item.active Кейс 1
      .cases__tabs-item Кейс 2
      .cases__tabs-item Кейс 3

    .cases__list
      each val in ['1','2','3']
        .cases__list-item 
          .cases-item__imgs.img-slider
            img(src="img/cases.png", alt="")
            img(src="img/cases.png", alt="")
            img(src="img/cases.png", alt="")
          
          .cases-item__desc 
            h5 Задача
            p Запустить интернет магазин по продаже кондиционеров в сезон. Загрузить товар из прайсов поставщика. 
            p Настроить выбор товаров по характеристикам.
            p Настроить страницу оформления заказа. Дать возможность покупателям выбрать удобный способ доставки и оплаты без интеграции сторонних сервисов.  
            h5 Срок разработки #[span 1 месяц]
            h5 Что с делано
            p В ходе разработки сайта столкнулись с проблемой в загрузке товара т.к. поставщик отдавал прайс-листы по брендам и моделям и в них одни и те же характеристики были записаны по-разному. Например, параметр в одном прайс листе назывался Производительность (охлаждение), а в другом Холодопроизводительность, кВт. В таком виде загружать товар было нельзя т.к. тогда было бы невозможно сделать корректный выбор товаров в блоке с фильтрами. Поэтому все эти параметры были сведены к одному названию. 
            p Вторая проблема была в том, что параметров было от 30-50, и большая часть из них носила информацию для специалистов по монтажу. Лишние параметры были удалены и товар загружен на сайт.
            p Благодаря этому в магазине появился блок, с фильтрами который позволяет подобрать кондиционер, выбрав бренд, площадь помещения, производительность.
            p Добавили все необходимые страницы с информацией о политике конфиденциальности, оплате, доставке и т. д.
            p На странице оформления заказа добавили два вида доставки. Курьером с описанием условий бесплатной доставки и самовывоз с адресом пункта.
            p В качестве оплаты используется оплата при получении.
            h5 Итог
            p При работе над проектом делали  акцент правильную загрузку товар. Не смотря на то что магазин запускался в сезон и продажи кондиционеров шли параллельно созданию магазина все задачи были выполнены точно в срок.

          .review-item
            img(src="img/cr-avatar.png", alt="").review-item-img
            h5.review-item-name Имя Фамилия
            .review-item-desc Добрый день! Создали интернет-магазин с нуля, и главное в срок! Плюс доработки (хотелки) всплывающие в первое время пользования. Быстро и качественно!
