-
  var arr1 = ['Загрузка товара - до 5 000', 'Добавление товара на витрину', 'Настройка шаблона', 'Подключение домена', 'Настройка оплаты', 'Настройка доставки', 'Тех. поддержка - 7 дней', 'Интеграция дополнительных сервисов - 2100 ₽/мес'];
  var arr2 = ['Загрузка товара - до 15 000','Добавление товара на витрину','Настройка шаблона','Подключение домена','Настройка оплаты','Настройка доставки','Тех. поддержка - 30 дней','Создание доп. страниц','Логотип + фавикон + баннеры + цветовая гамма сайта','Добавление сайта в Яндекс','Добавления сайта в Google','Подключение аналитики Яндекс','Подключение аналитики Google','Создание и подключение почты на домене','Интеграция оплаты','Интеграция доставки','Первичная сео настройка магазина','Интеграция дополнительных сервисов - 4 200 ₽/мес'];
  var arr3 = ['Загрузка товара - до 40 000','Добавление товара на витрину','Настройка шаблона','Подключение домена','Настройка оплаты','Настройка доставки','Тех. поддержка - 180 дней','Создание доп. страниц','Логотип + фавикон + баннеры + цветовая гамма сайта','Добавление сайта в Яндекс','Добавления сайта в Google','Подключение аналитики Яндекс','Подключение аналитики Google','Создание и подключение почты на домене','Интеграция оплаты','Интеграция доставки','Первичная сео настройка магазина','Контроль разработки магазина лично руководителем студии','Разработка нестондартного функционала','Доработка дизайна','Интеграция дополнительных сервисов - индивидуально'];

section.choose-market#choose-market 
  .container 
    h2 выберите свой магазин

    .choose-market__list

      .choose-market__list-item
        .market-name
          h3 Минимальный магазин

        .market-price 
          del.orange-05 35 000 ₽
          p 25 000 ₽
        
        .market-list
          h5 Подойдет:
          ul
            li Для «новичка» с небольшим бюджетом
            li Нужно срочно собрать магазин и запустить продажи для сезонного товара
        
        div
          .market-present
            ul 
              li Курс с видео инструкциями в подарок
          
          a(href="#").btn-orange.fill Заказать

          .installment В рассрочку 2100 руб./мес

      .choose-market__desc
        h3 В его стоимость входит:
        ul 
          each val in arr1 
            li=val


      .choose-market__list-item.main
        .market-name
          h3 Стандартный магазин

        .market-price 
          del.orange-05 65 000 ₽
          p 50 000 ₽
        
        .market-list
          h5 Подойдет:
          ul
            li Вы открываете свой первый магазин. Есть прайсы с товаром, нужно загрузить их и правильно настроить магазин
            li Нужны интеграции онлайн-оплаты и служб доставки
            li Нужно настроить СЕО-параметры, чтобы сайт начал правильно индексироваться поисковиками
            li Нужно правильно оформить дизайн магазина
        
        div
          .market-present
            ul 
              li Курс с видео инструкциями в подарок
              li Итеграция RetailCRM Бесплатно #[span.orange-05 3000 ₽]
          
          a(href="#").btn-orange.fill Заказать

          .installment В рассрочку 2100 руб./мес

      .choose-market__desc
        h3 В его стоимость входит:
        ul 
          each val in arr2
            li=val


      .choose-market__list-item
        .market-name
          h3 Премиум магазин

        .market-price 
          del.orange-05 от 150 000 ₽
          p от 100 000 ₽
        
        .market-list
          h5 Подойдет:
          ul
            li Вам нужен нестандартный функционал
            li Нужно интегрировать дополнительные приложения
            li Нужно написать интеграцию с нуля
        
        div
          .market-present
            ul 
              li Курс с видео инструкциями в подарок
              li Итеграция RetailCRM Бесплатно #[span.orange-05 3000 ₽]
              li Контроль разработки магазина лично руководителем студии
          
          a(href="#").btn-orange.fill Заказать

          .installment Расрочка рассчитывается индивидуально

      .choose-market__desc
        h3 В его стоимость входит:
        ul 
          each val in arr3
            li=val
