mixin dev-time__item(img, title, text, deadline)
  .dev-time__list-item
    .dev-time__item-desc
      h5=title 
      p!=text 
      h5=deadline
    .dev-time__item-img
      img(src=img, alt="")

section.dev-time#dev-time
  .container 
    h2 от 1 недели на разработку магазина #[br] за счет четкого движения по этапам

    .dev-time__list
      +dev-time__item('img/dt-1.jpg','Составляем бриф','Важный шаг, на котором мы с вами запишем всю информацию, которая есть у вас на данный момент. <br> Ведь никто кроме вас не знает бизнес лучше. <br> Бриф поможет быстрее погрузиться в проект и лучше изучить все его особенности.','Срок: 3-4 дня')
      +dev-time__item('img/dt-2.jpg','Подписываем договор','После составления брифа мы с вами переходим к заключению договора. Это важная составная часть нашего сотрудничества, которая определяет сроки выполнения работ, обязательства и гарантии. <br> Все, что мы обозначим в брифе, будет перенесено в договор.','Срок: 1-3 дня')
      +dev-time__item('img/dt-3.jpg','Разрабатываем магазин','Договор подписан и мы приступаем к работе. Регистрируем магазин на InSales, загружаем товар, настраиваем сайт, делаем все, чтобы ваш магазин быстрее начал работать, и вы получили первые заказы.','Срок: 7-30 дней')
      +dev-time__item('img/dt-4.jpg','Тестируем','На этом шаге мы делаем тестовые заказы, смотрим как работает интернет магазин. <br> Тестирование - обязательная часть в разработке магазина. В ходе тестирования мы выявляем и исправляем все возможные баги и ошибки. <br> После такого испытания ваш магазин будет готов к запуску рекламы. Вы можете не опасаться накладок и сбоев в его работе.','Срок: 1-2 дня')
      +dev-time__item('img/dt-5.jpg','Финиш','После выполнения всех этапов - вы получите полностью готовый и настроенный магазин. <br> На этом наше сотрудничество не заканчивается, так как вы получите бесплатную тех. поддержку магазина.','Срок: 0-1 день')
