section.every-store#every-store
  .container
    h2 А также в каждом магазине доступно:

    ul.every-store__list
      li.every-store__list-item Возможность вести блог/новости магазина
      li.every-store__list-item SEO фильтры
      li.every-store__list-item Возможность создать мобильное приложение
      li.every-store__list-item Настраиваемая корзина
      li.every-store__list-item Отчеты по продажам
      li.every-store__list-item Фильтр по параметрам
      li.every-store__list-item Скидки и купоны
      li.every-store__list-item Адаптивный магазин
      li.every-store__list-item Отчет по поисковым фразам
      li.every-store__list-item Встроенная система управления сайтом CMS 
      li.every-store__list-item Спецблоки с товарами, акциями, баннерами
      li.every-store__list-item Сортировка товаров по цене, алфавиту, ручная настройка менеджером
