footer#footer 
  .container-big
    .footer__wrapper
      div
        img(src="img/logo.png", alt="").logo
        .more-info
          p.ip ИП Ошаров Денис Алексеевич 
          p.iin ИНН 420303658586 #[br] ОГРН 312425018600024
          p.copyright © 2016 - 2021  Все права защищены

      div
        ul
          li
            a(href="#")  Клиентам
          li
            a(href="#choose-market")  Цены
          li
            a(href="#")  Рассрочка
          li
            a(href="#five-years")  Отзывы
          li
            a(href="#form")  Консультация
          li
            a(href="#qa")  Вопрос-ответ

      div
        ul
          li
            a(href="#")  О компании
          li
            a(href="#cases")  Кейсы
          li
            a(href="#")  Наши достижения
          li
            a(href="#our-team")  Наша команда
          li
            a(href="#")  Почему выбирают нас
          li
            a(href="#")  Как мы работаем

      div
        ul
          li
            a(href="#")  Документация
          li
            a(href="#")  Политика конфиденциальности
          li
            a(href="#")  Согласие с рассылкой
          li
            a(href="#")  Отказ от ответственности
          li
            a(href="#")  Публичный договор оферты
      
      div.contacts
        a(href="tel:+79999999999") +7 (999) 999-99-99
        a(href="mailto:mail@yandex.ru") mail@yandex.ru

      .soc
        div 
          p Мы в соцсетях
          .soc__wrapper
            a(href="#").vk
              img(src="img/vk.svg", alt="") 
            a(href="#").inst
              img(src="img/inst.svg", alt="")
            a(href="#").fb
              img(src="img/fb.svg", alt="")
            a(href="#").yt
              img(src="img/yt.svg", alt="")

      .more-info-mob
        p.ip ИП Ошаров Денис Алексеевич 
        p.iin ИНН 420303658586 #[br] ОГРН 312425018600024
        p.copyright Все права защищены
