header#header
  .container-big

    .logo 
      img(src="img/logo.png", alt="")

    .navbar#navbar
      .close-navbar#close-navbar
      ul
        li
          a(href="#") Как мы работаем
        li
          a(href="#") Цены
        li.mob
          a(href="#") Рассрочка
        li
          a(href="#") Отзывы
        li
          a(href="#") Кейсы
        li
          a(href="#form") Консультация
        li.mob
          a(href="#") Наши достижения
        li.mob
          a(href="#") Наша команда
        li.mob
          a(href="#") Почему выбирают нас
        li.white
          a(href="#") Вопрос-ответ
        li.mob
          a(href="#") Политика конфиденциальности

    a(href="#").phone-number +7 (999) 999-99-99

    .burger#burger
      .burger__line
