section.hero#hero
  img(src="img/hero.jpg", alt="").hero-img

  .container-big
    .wrapper 
      h1 Разработаем интернет-магазин с нуля. #[span стоимость - 25 000 ₽. срок разработки #[br] от 7 дней]

      ul.orange-dots 
        li Сдаем проекты точно в срок
        li Согласовываем с вами шаблон дизайна
        li Двойная тех. поддержка
        li Рассрочка на 3, 6 или 12 месяцев без переплат
      
      a(href="#form").btn-orange.hide-mob Получить консультацию
      a(href="#how-much").btn-orange.fill Заказать разработку
