section.how-much#how-much 
  .container 
    h2 сколько стоит интернет-магазин
    span.how-much__cheaper В 2-4 раза дешевле, чем у конкурентов

    h3.how-much__studio DO studio42 
    h3.how-much__min-price Минимальная стоимость интернет-магазина #[span.orange 25 000 ₽]

    .how-much__list 

      .how-much__list-item

        .how-much__item-imgs.hmi-slider
          div
            img(src='img/hmi-1.png', alt="")
          div
            img(src='img/hmi-2.jpg', alt="")
          div
            img(src='img/hmi-3.jpg', alt="")
          div
            img(src='img/hmi-4.jpg', alt="")

        .how-much__item-text
          h3 Цены в других студиях
          p Минимальная стоимость магазина от 100 000 ₽. В стоимость добавляют индивидуальный дизайн, лицензии на cms, текущие расходы и т. д. Как итог, вы переплачиваете за то, что вам не нужно
