section.how-did#how-did 
  .container
    h2 как мы добились такой стоимости

    .how-did__list
      .how-did__list-item 
        img(src="img/check.svg", alt="")
        p За 5 лет работы было разработано более 200 магазинов. #[br] Мы убрали все лишние операции и получили свою уникальную технологию по созданию интернет-магазинов. Каждая операция отработана и выполняется в строгом порядке
      .how-did__list-item 
        img(src="img/circle-arrow.svg", alt="")
        p Работаем с удаленными сотрудниками. Это позволяет сократить расходы на аренду офиса, интернет и другие платежи
      .how-did__list-item 
        img(src="img/circle-x.svg", alt="")
        p Мы не включаем в стоимость не нужный функционал #[br] и индивидуальный дизайн
      .how-did__list-item 
        img(src="img/circle-plus.svg", alt="")
        p Если нужно продвижение, вы можете заказать его отдельно. #[br] Все честно и прозрачно
      