mixin price-item(icon, title, desc)
  .price__list-item
    .price-icon 
      img(src=icon, alt="")
    .price-title=title
    .price-desc=desc

section.price#price
  .container 
    .price__list
      +price-item('img/money.png', 'Стоимость 25 000 рублей', 'За 25 000 ₽ вы получите готовый к работе интернет-магазин с каталогом товара, фильтрами по парметрам, возможностью положить товар в корзину и оформить заказ с выбором доставки и оплаты. Вы не оплачиваете дорогой дизайн и не нужный функционал.')
      +price-item('img/time.svg', 'Срок разработки от 7 дней', 'Нам удалось сократить срок разработки магазина в 3 раза, благодаря своей уникальной технологии, которую мы улучшали на протяжении 5 лет и отработали на более чем 200 магазинах.')
      +price-item('img/check.svg', 'Согласовываем с вами внешний вид магазина', 'На этапе составления брифа обговариваем и согласовываем с вами все моменты по дизайну.Это позволяет получить вам именно тот магазин, который вы хотите.')
      +price-item('img/like.png', 'Сдаем проекты точно в срок', 'Этапы создания магазина уже отработаны и для каждого этапа составлена инструкция по работе. Срок выполнения каждого пункта контролируется менеджером проекта.')
      +price-item('img/24.7.svg', 'Двойная тех. поддержка', 'После сдачи проекта вы можете задавать нам вопросы по работе с магазином. Отвечаем в чате, мессенджерах, соц. сетях, skype Тех. поддержка 24/7 от платформы интернет магазина insales Вы можете задавать вопросы в тех. поддержку платформы insales круглосуточно. ')
      +price-item('img/surprice.svg', 'Курс с видео-инструкциями в подарок', 'После просмотра курса, состоящего из 10 видео-уроков, вы сможете без программиста изменять дизайн сайта, добавлять страницы, товары, менять текст и многое другое. Это позволит вам с легкостю управлять вашим магазином.')
      
