mixin qa__item(q,a)
  .qa__list-item
    .qa__item-question=q
    .qa__item-answer=a

section.qa#qa
  .container 
    h2.center вопрос-ответ

    .qa__list#qa__list
      +qa__item('Что если вы не уложитесь в срок?', 'Этапы создания магазина отработаны и для каждого этапа составлена инструкция по работе. Срок выполнения каждого этапа контролируется менеджером проекта.')
      +qa__item('Что если я вам заплачу, а вы ничего не сделаете?', 'Ответ')
      +qa__item('Если вы сделаете не такой магазин, как я хотел(а)?', 'Ответ')
      +qa__item('Я получу магазин и ничего не смогу сделать без программиста?', 'Ответ')
      +qa__item('Какие еще платежи будут нужны для спокойной работы?', 'Ответ')
      +qa__item('Мне нужен функционал, которого нет в стандартном шаблоне дизайна, как быть?', 'Ответ')
      
