-
  var services = ['Загрузка товара','Добавление товара на витрину','Настройка шаблона','Подключение домена','Настройка оплаты','Настройка доставки','Тех. поддержка','Создание доп. страниц','Логотип + фавикон + баннеры + цветовая гамма сайта','Добавление сайта в Яндекс','Добавления сайта в Google','Подключение аналитики Яндекс','Подключение аналитики Google','Создание и подключение почты на домене','Интеграция оплаты','Интеграция доставки','Первичная сео настройка магазина','Контроль разработки магазина лично руководителем студии','Разработка нестондартного функционала','Доработка дизайна','Интеграция дополнительных сервисов','Рассрочка'];
  var min = ['до 5 000','+','+','+','+','+','7 дней','-','-','-','-','-','-','-','-','-','-','-','-','-','-','2100 ₽/мес'];
  var standart = ['до 15 000','+','+','+','+','+','30 дней','+','+','+','+','+','+','+','+','+','+','-','-','-','-','4 200 ₽/мес'];
  var premium = ['до 40 000','+','+','+','+','+','180 дней','+','+','+','+','+','+','+','+','+','+','+','+','+','+','индивидуально'];

section.what-included#what-included
  .container 
    h2 Что входит в стоимость каждого магазина

    .what-inckuded__table
      ul.what-inckuded__table-service
        li.head Услуги
        each val in services 
          li=val
      ul.what-inckuded__table-min
        li.head Минимальный магазин
        each val in min 
          li=val
      ul.what-inckuded__table-standart
        li.head Стандартный магазин
        each val in standart 
          li=val
      ul.what-inckuded__table-premium
        li.head Премиум магазин
        each val in premium 
          li=val

    .what-inckuded__btns
      a(href="#").btn-orange.fill Заказать
      a(href="#").btn-orange.fill Заказать
      a(href="#").btn-orange.fill Заказать
