<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Корзина
    link(rel="stylesheet", href="./css/style.min.css")
  body
    
    include cart/header

    main
      include cart/cart-main
    
    include cart/footer

    script(src="./js/main.js")
