<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Как запустить свой бизнес с 0 за 30 дней

    link(rel="stylesheet", href="./css/style.min.css")
  body
    
    include parts/header

    main
      include parts/hero
      include parts/present
      include parts/process
      include parts/before-after
      include parts/our-team
      include parts/prices
      include parts/program
      include parts/support
      include parts/live-course

    include parts/footer

    script(src="./js/main.js")
