mixin hb-item(img, text)
  .hero-branch__list-item
    .hero-branch__item-img
      img(src=img, alt="")
    .hero-branch__item-desc=text

section.hero-branch 
  .container 
    .breadcrumbs Главная >> решение задач >> #[a(href="javascript:void(0)") горнодобывающая отрасль]

    .h1-title.red-line
      h1 Нефтегазовая отрасль
      p Мобильность, легкость, качество!
    
    .yellow-list
      .yellow-list__item Добыча нефти
      .yellow-list__item Добыча природного газа
      .yellow-list__item Перекачка ГСМ

    .hero-branch__list
      +hb-item('img/hb-5.1.jpg', 'Подача нефти и газа с месторождений в труднодоступных районах')
      +hb-item('img/hb-5.2.jpg', 'Перекачка нефти на морских буровых платформах')
      +hb-item('img/hb-5.3.jpg', 'Ввод скважин в эксплаутацию до строительства проектного трубопровода')
      +hb-item('img/hb-5.4.jpg', 'Перекачка нефти, газа, нефтепродуктов. воды во временное хранилище на время ремонта основной емкости.')
      +hb-item('img/hb-5.5.jpg', 'Организация газо и нефтепроводов  и водопроводов на разведочных скважинах')
      +hb-item('img/hb-5.6.jpg', 'Поддержание пластового давления на нефтяных скважинах')
      +hb-item('img/hb-5.7.jpg', 'Транспортировка буровой воды к удаленным буровым площадкам для операций по гидроразрыву')
      +hb-item('img/hb-5.8.jpg', 'Подача и откачка воды для различных технологических нужд')
      +hb-item('img/hb-1.9.jpg', 'Временные байпасы на аварийных участках или на время профилактики трубопроводов ')
      +hb-item('img/hb-4.3.jpg', 'Резервный трубопровод для пожаротушения на нефтехранилищах и опасных объектах')
      +hb-item('img/hb-5.11.jpg', 'Перекачка ГСМ на нефтебазах')
