<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Studio42
    link(rel="stylesheet", href="./css/jquery.fancybox.min.css")
    link(rel="stylesheet", href="./css/slick.css")
    link(rel="stylesheet", href="./css/style.min.css")
  body
    
    <!-- HEADER ========================-->
    include parts/header

    main
      <!-- HERO ========================-->
      include parts/hero
      <!-- PRICE ========================-->
      include parts/price
      <!-- CAPABILITY ========================-->
      include parts/capability
      <!-- EVERY STORE ========================-->
      include parts/every-store
      <!-- HOW MACH ========================-->
      include parts/how-much
      <!-- HOW DID ========================-->
      include parts/how-did
      <!-- CHOOSE MARKET ========================-->
      include parts/choose-market
      <!-- WHAT INCLUDED ========================-->
      include parts/what-included
      <!-- BENEFIT INSTALLMENTS ========================-->
      include parts/benefit-installments
      <!-- DEVELOPMENT TIME ========================-->
      include parts/development-time
      <!-- CASES ========================-->
      include parts/cases
      <!-- FIVE YEARS ========================-->
      include parts/five-years
      <!-- TOP STUDIO ========================-->
      include parts/top-studio
      <!-- OUR TEAM ========================-->
      include parts/our-team
      <!-- VIDEO ========================-->
      include parts/video
      <!-- FORM ========================-->
      include parts/form
      <!-- QA ========================-->
      include parts/qa

    <!-- FOOTER ========================-->
    include parts/footer

    script(src="./js/jquery-3.6.0.min.js")
    script(src="./js/jquery.fancybox.min.js")
    script(src="./js/slick.min.js")
    script(src="./js/main.js")
