header 
  .container
    a(href="/").logo-mob
      img(src="img/logo-mob.svg", alt="")
    .header-desc
      .header-menu
        .btn-close#btn-close
        a(href="/").logo
          img(src="img/logo.svg", alt="")
        ul.navbar
          li
            a(href="#parts-cat")  Каталог
          li
            a(href="#about")  О магазине
          li
            a(href="#reviews")  Отзывы
        
        .mob-info 
          div
            .mob-info__title Телефон
            a(href="tel:+74852390265").mob-info__phone +7 (4852) 39-02-65
            a(href="mailto:info@avtobum.com").mob-info__email info@avtobum.com
          div
            .mob-info__title Время работы
            p ПН-ПТ с 9:00 до 19:00
            p СБ с 10:00 до 17:00
          div
            .mob-info__title Адрес
            p г. Ярославль, ул. Чехова, 30/16

        a(href="#", data-text="Узнать стоимость").white-btn 
    
    .burger#burger
      .burger-line
