section.hero
  .big-wrapper
    .container 
      .hero-img
        img(src="img/motor-hero.png", alt="")

      h1 Магазин запчастей #[br] для любых #[br] автомобилей
      p Широкий ассортимент оригинальных, новых #[br] и контрактных автозапчастей c доставкой от 1 дня
      a(href="#", data-text="Подобрать запчасти").orange-btn
