mixin qal-item(q, a, classes)
  div(class="qa-list__item " + classes)
    .qa-list__item-question!=q
    .qa-list__item-answer.desc-text!=a

section.qa

  .qa-before-img
    img(src="img/qa-before.png", alt="")

  .container 
    .qa-wrapper
      .qa-wrapper__left
        img(src="img/qa.png", alt="")
        
      .qa-wrapper__right
        h2 Часто задаваемые вопросы

        .qa-list#qa-list
          +qal-item('Запчасть точно подойдёт для моего автомобиля?','Да, мы подбираем все запчасти в соотвествии с VIN номером вашего автомобиля', '')
          +qal-item('Вы доставите запчасти в срок?','2 Да, мы подбираем все запчасти в соотвествии с VIN номером вашего автомобиля', '')
          +qal-item('Я могу быть уверен(а), что запчасть хорошего качества?','3 Да, мы подбираем все запчасти в соотвествии с VIN номером вашего автомобиля', '')
          +qal-item('В течение какого времени можно сделать возврат товара?','4 Да, мы подбираем все запчасти в соотвествии с VIN номером вашего автомобиля', '')

