footer.cart 
  .container
    .text 
      p ИП Бакуров Иван Анатольевич
      p г. Санкт-Петербург ОРГНИП 0000000000
    
    .footer-contacts 
      a(href="#").number +7 (900) 000-00-00
      .soc-list 
        a(href="#").soc-list-item 
          img(src="img/inst.png", alt="")
        a(href="#").soc-list-item 
          img(src="img/tlgrm.png", alt="")
        a(href="#").soc-list-item 
          img(src="img/whtsp.png", alt="")

